Cheetah==2.4.4
Django==1.6.5
Landscape-Client==14.01
MySQL-python==1.2.3
PAM==0.4.2
Pillow==2.4.0
PyYAML==3.10
South==0.8.4
Twisted-Core==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
Unidecode==0.04.16
amqp==1.4.4
anyjson==0.3.3
apt-xapian-index==0.45
argparse==1.2.1
billiard==3.3.0.16
boto==2.22.0
carteblanche==1.0.0
celery==3.1.10
chardet==2.0.1
cloud-init==0.7.5
colorama==0.2.5
configobj==4.7.2
django-activity-stream==0.4.5beta1
django-appconf==0.6 
django-bower==4.8.1  
django-celery==3.1.9
django-email-extras==0.2
django-forms-builder==0.10
django-geoposition==0.2.0
django-json-field==0.5.5
django-jsonfield==0.9.12
django-object-log==0.7
-e git://github.com/hugotox/django-remote-forms.git@0b2b2327ac3251dcb041643288b66bd421671786#egg=django_remote_forms-master
django-storages==1.1.8
celery==3.1.10
chardet==2.0.1
cloud-init==0.7.5
colorama==0.2.5
configobj==4.7.2
django-activity-stream==0.4.5beta1
django-appconf==0.6 
django-bower==4.8.1  
django-celery==3.1.9
django-email-extras==0.2
django-forms-builder==0.10
django-geoposition==0.2.0
django-json-field==0.5.5
django-jsonfield==0.9.12
django-object-log==0.7
-e git://github.com/hugotox/django-remote-forms.git@0b2b2327ac3251dcb041643288b66bd421671786#egg=django_remote_forms-master
django-storages==1.1.8
celery==3.1.10
chardet==2.0.1
cloud-init==0.7.5
colorama==0.2.5
configobj==4.7.2
django-activity-stream==0.4.5beta1
django-appconf==0.6 
django-bower==4.8.1  
django-celery==3.1.9
django-email-extras==0.2
django-forms-builder==0.10
django-geoposition==0.2.0
django-json-field==0.5.5
django-jsonfield==0.9.12
django-object-log==0.7
-e git://github.com/hugotox/django-remote-forms.git@0b2b2327ac3251dcb041643288b66bd421671786#egg=django_remote_forms-master
django-storages==1.1.8
future==0.12.4