{% extends "base/bootstrap.html" %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="http://www.highcharts.com/media/com_demo/highslide.css" />
{% endblock %}
{% block javascripts %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<!-- Additional files for the Highslide popup effect -->
<script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide-full.min.js"></script>
<script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide.config.js" charset="utf-8"></script>
<script type="text/javascript">

$(function () {

    var processed_json = new Array();   
    $.getJSON('.', function(data) {
        console.log(data.series);

        var derp = [{name: 'Winter 2007-2008',data: [[Date.UTC(1970,  9, 27), 0   ],[Date.UTC(1970, 10, 10), 0.6 ],[Date.UTC(1970, 10, 18), 0.7 ]]}]
        console.log(derp);


     
        // draw chart
        $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Indicator Score For This Location'
        },
        subtitle: {
            text: 'Irregular time data in Highcharts JS'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Snow depth (m)'
            },
            min: 0,
            max:100
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: {point.y:.2f}'
        },
        series: data.series
    }); 
    });
});




</script>
{% endblock %}
{% block jumbotron %}
{% endblock %}
{{ noun.title }}
{% block showcase %}

chart here
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
ends here
{% endblock %}